*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inputs{
    text-align: center;
}

 input{
    /* margin-left: 450px; */
    /* margin-top: 5px; */
    /* text-align: center; */
    border-radius: 8px;
    padding: 10px 25px;
    font-size: 15px;
}
button{
    padding: 10px ;
    border-radius: 8PX;
}

#wrapper{
    /* margin-top: 1%; */
    height: 100vh;
    padding: 1%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#wrapper .movies{
    height: 300px;
    width: 27%;
}#wrapper .movies img{
    box-shadow: 1px 1px 6px 1px gray;
    /* border: 1px solid; */
    border-radius: 10px;
    height: 70%;
    width: 100%;
}